.image-gallery-thumbnail.active {
   opacity: 1.0;
    border: 0 !important;
}

.image-gallery-thumbnail {
    display: inline-block;
    border: 0;
    opacity: 0.6;
    transition: border .3s ease-out;
    width: 100px;
}


.image-gallery-thumbnail:hover {
    opacity: 0.8;
}

.bg-light-blue {
    background: #f6f9fc !important;
}

.MuiSnackbarContent-root {
    background: rgb(209, 87, 82) !important;
}

.modal {
    height: auto !important;
}

.ui.modal>.content>.image+.description {
    /*flex: none !important;*/
    min-width: 350px;
}
