.ui.menu-navbar {
    box-shadow: 0 27px 29px 0 rgba(0,0,0,.05) !important;
    background-color: #fff !important;
    border-radius: 0 !important;
    margin-bottom: 2rem !important;
    z-index: 10 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
}

.ui.menu .item:before {
    width: 0 !important;
}
