.ui.menu-navbar {
    /*box-shadow: 0 27px 29px 0 rgba(0,0,0,.05) !important;*/
    background-color: #fff !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    z-index: 10 !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    border: 0 !important;
}

.ui.menu .item:before {
    width: 0 !important;
}

.ui.menu:not(.vertical) .item > .button {
    padding-top:0 !important;
}

.ui.menu .ui.dropdown .menu>.item .icon:not(.dropdown) {
    margin: 0!important;
}

.ui.button.hidden, .ui.button.hidden:hover, .ui.button.hidden:focus {
    background: transparent;
}
.ui.menu .dropdown.item:hover, .ui.menu .dropdown.item:focus  {
    background: transparent !important;
}
.cart.icon:hover {
    cursor: pointer;
    background: white;
    color: #7875eb;
}
.cart-dropdown:hover {
    background: white;
}

.badge.badge-primary {
    background: #7875eb;
    border-radius: 50%;
}

