.sidebar-sticky {
    position: sticky;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui.secondary.pointing.menu:last-child {
    padding-right: 30px !important;
}

.ui.secondary.pointing.menu {
    background: white;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-left: 30px !important;
}
