.ui.left.visible.sidebar {
    box-shadow: none;
}

.ui.accordion .accordion .title .dropdown.icon:before, .ui.accordion .title .dropdown.icon:before {
     content: '\f0da';
 }

.ui.vertical.menu.accordion-menu {
  width: 100%;
}
