@font-face {
  font-family: 'MyFont';
  font-style: normal;
  font-weight: 400;
  src: url('./resources/fonts/AirbnbCereal-Medium.ttf');
  src: local('Cereal'), url('./resources/fonts/AirbnbCereal-Medium.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: "MyFont", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #7875eb;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
}

.filter-text {
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
  font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.ui.card {
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-color: transparent !important;
  border: 30px !important;
  border-bottom-color: transparent!important;
  /*border-radius: 18px;*/
  /*-webkit-box-shadow: 0 19px 20px 0 rgba(0,0,0,.05);*/
  /*box-shadow: 0 19px 20px 0 rgba(0,0,0,.05);*/
  background-color: #fff;
}

.ui.card > .image {
  position: relative;
  /*border-top-left-radius: 18px;*/
  /*border-top-right-radius: 18px;*/
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}

.ui.button.primary {
  color:white;
  display: inline-block;
  position: relative;
  background-color: #7875eb;
  padding: 0 1.25rem;
  width: auto;
  min-width: 8.75rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  font-size: .875rem;
  font-weight: 700;
}

.ui.button.pill {
  border-radius: 1.8125rem;
}

.ui.button.primary:hover {
  color: white;
  background-color: #7795f8;
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.ui.button.primary:focus {
  color: white;
  background-color: #7875eb;
}

/* Modal dimmer color */
.dimmed.dimmable > .ui.modals.dimmer.visible {
  background: rgba(82, 95, 127, .7) !important;
}

/* Needed to position the modal in the center of the screen */
.ui.modal {
  position: relative !important;
}
